{% extends "sistema/base.html" %}

{%block title%}
    Roles registrados
{% endblock %}

{%block contenido%}
    {%if user.is_authenticated%}
        <h3>Roles registrados</h3>
            <div class="d-flex justify-content-end mb-1">
                <a href="#" class="btn btn-success btn-sm" data-toggle="tooltip" data-original-title="Crear">
                    Crear
                </a>
            </div> 
            <div class="card">
            <div class="table-responsive">
                <table id="example" class=" display mt-5 table align-items-center mb-0" style="width: 100%">
                <thead>
                    <tr>
                    <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                    <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7">Nombre</th>
                    <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Descripción</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rol in lista_roles %}
                    <tr>

                    <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ rol.id }}</p>
                    </td>

                    <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">{{ rol.nombre }}</p>
                    </td>

                    <td class="align-middle text-center text-sm">
                        <p class="text-xs font-weight-bold mb-0">{{ rol.descripcion }}</p>
                    </td>

                    <td class="align-middle text-center">
                    <a href="#" class="btn btn-warning btn-sm" data-toggle="tooltip" data-original-title="Editar">
                        Editar
                    </a>
                    <a href="#" class="btn btn-danger btn-sm" data-toggle="tooltip" data-original-title="Eliminar">
                        Eliminar
                    </a>
                    </td>
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                    <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                    <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7">Nombre</th>
                    <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Descripción</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Acciones</th>
                    </tr>
                </tfoot>
                </table>
            </div>
            </div>        
    {%else%}
        <h3 >Usuario no autenticado</h3>
        <h5 >No tienes acceso al sistema</h5>

    {%endif%}
{%endblock%}